<!-- Promo Banner Component -->
<div class="promo-banner">
    <div class="promo-banner-content">
        <div class="promo-banner-media">
            <img data-promo-img src="img/Equipo_All_In_One_HBP_1800_en_PNG.png" alt="Kit Solar All In One HBP 1800">
        </div>
        <div class="promo-banner-text">
            <i class="fas fa-sparkles promo-icon"></i>
            <span class="promo-message">¡KIT SOLAR ALL IN ONE DISPONIBLE!</span>
        </div>
        <a href="#" class="promo-banner-btn" data-promo-link>Comprar</a>
    </div>
</div>

