<!-- Navbar Component -->
<nav class="compo-navbar">
    <div class="compo-navbar-container container">
        <a href="#" class="compo-navbar-logo" data-navbar-logo>
            <img src="#" alt="Connects Logo" class="compo-logo-image" data-navbar-logo-img>
        </a>
        <div class="compo-navbar-toggle" id="compo-mobile-menu" aria-label="Menú" aria-expanded="false" aria-controls="compo-navbar-menu" role="button" tabindex="0">
            <span class="compo-bar"></span>
            <span class="compo-bar"></span>
            <span class="compo-bar"></span>
        </div>
        <ul class="compo-navbar-menu" id="compo-navbar-menu">
            <li class="compo-navbar-item"><a href="#" class="compo-navbar-link" data-nav-link="servicios">Servicios</a></li>
            <li class="compo-navbar-item"><a href="#" class="compo-navbar-link" data-nav-link="fibra">Fibra Óptica</a></li>
            <li class="compo-navbar-item"><a href="#" class="compo-navbar-link" data-nav-link="energias">Energías Renovables</a></li>
            <li class="compo-navbar-item"><a href="#" class="compo-navbar-link" data-nav-link="sobre">Sobre Nosotros</a></li>
            <li class="compo-navbar-item"><a href="#" class="compo-navbar-link compo-contact-btn" data-nav-link="contacto">Contacto</a></li>
        </ul>
    </div>
</nav>
